<h1 id="title">goodfoodhunting</h1>

<a href="/dishes/new">post new dish</a>

<% @dishes.each do |dish| %>

  <h2><a href="/dishes/<%= dish.id %>"><%= dish.title %></a> by <%= dish.user.email %></h2>
  <h4><%= dish.category.name %></h4>

<% end %>

<a href="#title">teleport to top</a>